
.Search {
  width: 90%;
}

.result {
  margin: 10px;
  width: 300px;
  border: 1px solid black;
}

.result:hover {
  box-shadow: 3px 3px black;
}
.search-container {
  display: flex;
  justify-content: center;
}

.search-bar {
  font-size: 20px;
  width: 30%;
  border-radius: 5px;
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nominee-container {
  display: flex;
  justify-content: flex-end;
}

.nominate-button {
  width: 100%;
  background-color: white;
  color: black;
  border: 2px solid red;
}

.remove-nominee {
  background-color: white;
  color: black;
  border: 2px solid red;
  margin-left: 3px;
}

.result-content {
  margin: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nom-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip {
  position: absolute;
  right: 200px;
  top: 50px;
  width: 300px;
}
.tooltip .tooltiptext {
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 3px;
  border-radius: 3px;
  width: 300px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover {
  cursor: pointer;
}

.fa-film {
  font-size: 75px;
  color: red;
}

@media only screen and (max-width: 1600px) { 
  .tooltip {
    position: absolute;
    right: 50px;
    top: 30px;
  }
}

@media only screen and (max-width: 1200px) { 
  .tooltip {
    position: absolute;
    right: 1px;
    top: 30px;
  }
}