
.Search {
  width: 90%;
}

.result {
  margin: 10px;
  width: 300px;
  border: 1px solid black;
}

.result:hover {
  box-shadow: 3px 3px black;
}
.search-container {
  display: flex;
  justify-content: center;
}

.search-bar {
  font-size: 20px;
}
div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nominee-container {
  display: flex;
  justify-content: flex-end;
}

.tooltip {
  position: absolute;
  right: 40px;
  top: 20px;
}

.nominate-button {
  width: 100%;
  background-color: white;
  color: black;
  border: 2px solid red;
}

.result-content {
  margin: 3px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}